{% include d3/assets.html %}

<style>
#d3-force{margin-top:30px;background-color:#f4f9f7}
#d3-force circle:hover{cursor:pointer;}
.links line {stroke:black;stroke-opacity:.7;}
.nodes circle{stroke:white;}
.d3-tip{
  position: relative;
  display: inline;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
}
.d3-tip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
</style>

<svg width="900" height="900" id="d3-force"></svg>
<script>
  var svg = d3.select("#d3-force"),
      width = +svg.attr("width"),
      height = +svg.attr("height");

  var manyBody = d3.forceManyBody().strength(-10).distanceMax(120).distanceMin(10)

  var simulation = d3.forceSimulation()
      .force("link", d3.forceLink().id(function(d) { return d.id; }))
      .force("charge", manyBody)
      .force("center", d3.forceCenter(width / 2, height / 2));

  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-5, 0])
    .html(function (d) {
      return '&nbsp;&nbsp;' + d.name + '&nbsp;&nbsp;';
    });

  svg.call(tip);

  d3.json("{{ site.baseurl }}/visualize/data/kashira-characters.json", function(error, graph) {
    if (error) { console.log(error); }

    var link = svg.append("g")
      .attr("class", "links")
      .selectAll("line")
      .data(graph.links)
      .enter().append("line");

    var node = svg.append("g")
      .attr("class", "nodes")
      .selectAll("circle")
      .data(graph.nodes)
      .enter().append("circle")
        .attr("r", function(d) {
          if (d.type == 'kashira') { return 8; }
          else { return 4; }
        })
        .attr("fill", function(d) {
          if (d.type == 'kashira') { return '#b73b37'; }
          else { return '#5c787c'; }
        })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)
        .on("dblclick", dblclick)
        .call(d3.drag()
         .on("start", dragstarted)
         .on("drag", dragged)
         .on("end", dragended));


    simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

    simulation.force("link")
      .links(graph.links);

    svg.call(d3.drag()
      .container(svg)
      .subject(dragsubject)
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended));

    function ticked() {
      link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

      node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    }
    function dragsubject() {
      return simulation.find(d3.event.x, d3.event.y);
    }
  });
  function dblclick(d) {
    location.href = '{{ "'+d.type+'/'+d.id.slice(0,-1)+'/" | relative_url }}';
  }
  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }
</script>
