{% include d3/assets.html %}

<style>
.bar {
  fill: #c63d2d;
}

.bar:hover {
  fill: #436577;
  cursor: pointer;
}

.axis--x path {
  display: none;
}

.d3-tip {
  line-height: 1;
  color: black;
  font-size: 12px;
  max-width: 100px;
  padding: 6px;
  font-family: sans-serif;
  border: 1px grey solid;
  border-radius: 10px;
  background-color: #fff;
}

#prolific_author_box{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  border: grey 1px solid;
}
</style>

<svg width="1200" height="600" id="prolific_author_box"></svg>

<script>

var svg = d3.select("#prolific_author_box"),
    margin_top = 20,
    margin_right =  20,
    margin_bottom = 20,
    margin_left = 40,
    width = +svg.attr("width") - margin_left - margin_right,
    height = +svg.attr("height") - margin_top - margin_bottom;

var x = d3.scaleBand().rangeRound([0, width]).paddingInner(0.2),
    y = d3.scaleLinear().rangeRound([height, 0]);

var g = svg.append("g")
    .attr("transform", "translate(" + margin_left + "," + margin_top + ")");

d3.csv("{{ site.baseurl }}/visualize/data/prolific_authors.csv", function(d) {
  d.playcount = +d.playcount;
  return d;
}, function(error, data) {
  if (error) throw error;

  x.domain(data.map(function(d) { return d.name; }));
  y.domain([0, d3.max(data, function(d) { return d.playcount; })]);

  var tip = d3.tip()
              .attr('class', 'd3-tip')
              .offset([-5, 0])
              .html(function (d) { return "<span><b>"+d.name+":</b><br/>"+d.playcount+" plays</span>"; })

  svg.call(tip);

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("playcount");

  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.name); })
      .attr("y", function(d) { return y(d.playcount); })
      .attr("width", x.bandwidth())
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
      .on("click", click)
      .attr("height", function(d) { return height - y(d.playcount); });

  function click(d){ if (d.url){ location.href = d.url; }}

});

</script>
