<script type='text/javascript' id="lunr" src="{{ site.js.elasticlunr.cdn }}"></script>
<script src="{{ site.baseurl }}/js/lunr-ui.js"></script>

<div class="search">
  <div id="checkboxes">
    <p>Limit search to:</p>

    <input type="checkbox" id="author-check" value="authors" name="search-field">
    <label for="author-check">Authors</label>

    <input type="checkbox" id="character-check" value="characters" name="search-field">
    <label for="character-check">Characters</label>

    <input type="checkbox" id="kashira-check" value="kashira" name="search-field">
    <label for="kashira-check">Kashira</label>

    <input type="checkbox" id="perfomance-check" value="performances" name="search-field">
    <label for="perfomance-check">Perfomances</label>

    <input type="checkbox" id="perfomer-check" value="perfomers" name="search-field">
    <label for="perfomer-check">Perfomers</label>

    <input type="checkbox" id="play-check" value="plays" name="search-field">
    <label for="play-check">Plays</label>

    <input type="checkbox" id="production-check" value="productions" name="search-field">
    <label for="production-check">Productions</label>

    <input type="checkbox" id="scene-check" value="scenes" name="search-field">
    <label for="scene-check">Scenes</label>

    <input type="checkbox" id="tag-check" value="tags" name="search-field">
    <label for="tag-check">Tags</label>
  </div>

  <div class="search-box">
    <input id="search" placeholder="Search..." type="text">
    <div class="also search-link" id="submit">&#x1F50D;</div>
  </div>

  <div id="results"></div>
</div>
