<script type='text/javascript' id="lunr" src="{{ site.baseurl }}/{{ site.scripts.lunr }}"></script>
<script type='text/javascript' id="lunr-index" src="{{ site.baseurl }}/js/lunr-index.js"></script>
<script src="{{ site.baseurl }}/js/lunr-ui.js"></script>

<style>
  #search{border:none;font-size:14px;}
  #results{margin:10px;}
</style>

<div class="search">
    <div id="search-icon">
      <span class="icon">&#x1F50D;</span>
    </div>
    <div id="input-box">
      <input type="text" class="searchTerm" id="search" placeholder="Browse the collection...">
    </div>
</div>
<div id="results"></div>
