<script type='text/javascript' id="lunr" src="{{ site.baseurl }}/{{ site.scripts.lunr }}"></script>
<script type='text/javascript' id="lunr-unicode" src="{{ site.baseurl }}/{{ site.scripts.lunr-unicode }}"></script>
<script type='text/javascript' id="lunr-index" src="{{ site.baseurl }}/js/lunr-index.js"></script>

<div class="search" style="width:100%;background-color: #bbb;margin-bottom:50px;">
  <div style="padding:20px">

    {% if page.search != "full" %}{% assign placeholder = "Search by " | append: page.search | append: "..." %}
    {% else %}{% assign placeholder = "Search the full collection..." %}
    {% endif %}

    <input placeholder="{{ placeholder }}" type="search" id="search" class="search-input" style="width:300px;font-size: 16px;border:1px black solid;padding:0;">
    <br/>
    <div id="results" class="result"></div>
  </div>
</div>
