{% if page.layout == 'image_page' %}
  <p>
    <b>Characters:&nbsp;&nbsp;</b>
    {% for c in page.character_id %}
      {% assign character = site.data.characters | where: "id", c | first %}
      <b><a href="{{ site.baseurl }}/characters/{{ c }}/">{{ character.label_eng }}</a></b>
      {% if character.label_ka %}({{ character.label_ka }}){% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}<br>
  </p>
{% else %}
  <h3 class='data-sub-head'>Characters:</h3>
  {% for c in page.character_id %}
    {% assign character = site.data.characters | where: "id", c | first %}
    <p><b>
      {% if character.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
      {% else %}<i class="fa fa-times" aria-hidden="true"></i>
      {% endif %}
      <a href="{{ site.baseurl }}/characters/{{ c }}/">{{ character.label_eng }}</a>
    </b> ({{ character.label_ja}} / {{ character.label_ka }})</p>
  {% endfor %}
{% endif %}
