{% if page.layout == 'image_page' %}
  <p>
    <b>Kashira:&nbsp;&nbsp;</b>
    {% for k in page.kashira_id %}
      {% assign kash = site.data.kashira | where: "id", k | first %}
      <b><a href="{{ site.baseurl }}/kashira/{{ k }}/">{{ kash.label_eng }}</a></b>
      {% if kash.label_ka %}({{ kash.label_ka }}){% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}<br>
  </p>
{% else %}
  <h3 class='data-sub-head'>Kashira:</h3>
  {% for k in page.kashira_id %}
    {% assign kash = site.data.kashira | where: "id", k | first %}
    <p>
      <b>
        {% if kashira.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
        {% else %}<i class="fa fa-times" aria-hidden="true"></i>
        {% endif %}
        <a href="{{ site.baseurl }}/kashira/{{ k }}/">{{ kash.label_eng }}</a>
      </b> ({{ kash.label_ka }})
    </p>
  {% endfor %}
{% endif %}
