{% if page.layout == 'image_page' %}
  <p>
    <b>Performers:&nbsp;&nbsp;</b>
    {% for p in page.performer_id %}
      {% assign performer = site.data.performers | where: "id", p | first %}
      <b><a href="{{ site.baseurl }}/performers/{{ p }}/">{{ performer.name_en }}</a></b>
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}<br>
  </p>
{% else %}
  <h3 class='data-sub-head'>Performers:</h3>
  {% for p in page.performer_id %}
    {% assign performer = site.data.performers | where: "id", p | first %}
    <p>
      <b>
        {% if performer.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
        {% else %}<i class="fa fa-times" aria-hidden="true"></i>
        {% endif %}
        <a href="{{ site.baseurl }}/performers/{{ p }}/">{{ performer.name_en }}</a>
      </b> ({{ performer.name_ka }})
    </p>
  {% endfor %}
{% endif %}
