{% if page.layout == 'image_page' %}
  <p>
    <b>Plays:&nbsp;&nbsp;</b>
    {% for play in page.plays %}
      <b><a href="{{ site.baseurl }}/plays/{{ play.id }}/">{{ play.label_eng }}</a></b>
      {% if play.label_ka %}({{ play.label_ka }}){% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}<br>
  </p>
{% else %}
  <h3 class='data-sub-head'>Plays:</h3>
  {% for play in page.plays %}
    <p>
      {{ play }}
      <!-- <b>
        <a href="{{ site.baseurl }}/plays/{{ play.id }}/">{{ play.label_eng }}</a>
      </b> {% if play.label_ka %}({{ play.label_ka }}){% endif %} -->
    </p>
  {% endfor %}
{% endif %}
