{% if page.layout == 'image_page' %}
  <p>
    <b>Tags:&nbsp;&nbsp;</b>
    {% for t in page.tag_id %}
      {% assign tag = site.data.tags | where: "id", t | first %}
      <b><a href="{{ site.baseurl }}/tags/{{ t }}/">{{ tag.label_eng }}</a></b>
      {% if tag.label_ka %}({{ tag.label_ka }}){% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}<br>
  </p>
{% else %}
  <h3 class='data-sub-head'>Tags:</h3>
  {% for t in page.tag_id %}
    {% assign tag = site.data.tags | where: "id", t | first %}
    <p>
      <b>
        {% if tag.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
        {% else %}<i class="fa fa-times" aria-hidden="true"></i>
        {% endif %}
        <a href="{{ site.baseurl }}/tags/{{ t }}/">{{ tag.label_eng }}</a>
      </b> ({{ tag.label_ka }})
    </p>
  {% endfor %}
{% endif %}
