{% include sliders/assets.html %}

{% assign album_pages = site.data.images | where: "media_type", "album page" %}

{% for i in (1..50) %}
  <h2><b>Album #{{ i }}</b></h2>
  {% assign album = album_pages | where: "series", i | sort: "item_id" %}
  <center>
    <div class="data-slick">
      {% for image in album %}
        <div><a href="{{ site.baseurl }}/images/{{ image.pid }}/"><img data-lazy="https://www1.columbia.edu/sec-cgi-bin/cul/dlo?obj={{ image.objid }}&size=medium"  height="300px" data-proofer-ignore/></a></div>
      {% endfor %}
    </div>
  </center>
  <p>({{ album.size }} pages)</p>
  <br/>
{% endfor %}




<script>
  $(document).ready(function(){
    var $slickElement = $('.data-slick');
    var $status = $('.pagingInfo');
    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
      var i = (currentSlide ? currentSlide : 0) + 1;
      $status.text(i + '/' + slick.slideCount);
    });
    $slickElement.slick({
      lazyLoad: 'ondemand',
      slidesToShow: 3,
      slidesToScroll: 1,
      draggable: true,
      variableWidth: true
    });
  });
</script>
