.bar {
  fill: #c63d2d;
}

.bar:hover {
  fill: #436577;
  cursor: pointer;
}

.axis--x path {
  display: none;
}

.d3-tip {
  line-height: 1;
  color: black;
  font-size: 12px;
  max-width: 100px;
  padding: 6px;
  font-family: sans-serif;
  border: 1px grey solid;
  border-radius: 10px;
  background-color: #fff;
}

#prolific_author_box{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  border: grey 1px solid;
}
