---
layout: default
---
<h1>
  <b><a href="{{ site.baseurl }}/performances/">Performance</a>:</b><br/>
  {{ page.label_eng }}
</h1>

<p>
  <b>Production: </b>
  {% assign pr_id = page.production_id %}
  {% assign production = site.data.productions | where: "pid", pr_id | first %}
  <b><a href="{{ site.baseurl }}/productions/{{ pr_id }}/">{{ production.label_eng }}</a></b>
</p>
<p>
  <b>Play: </b>
  {% assign pl_id = page.play_id %}
  {% assign play = site.data.plays | where: "pid", pl_id | first %}
  <b><a href="{{ site.baseurl }}/plays/{{ pl_id }}/">{{ play.label_eng }}</a></b>
  {% if play.label_ka %} ({{ play.label_ka}}){% endif %}
</p>

{% if page.image_id %}{% include sliders/main.html %}{% endif %}
{% if page.pscene_id %}{% include relations/scenes.html %}{% endif %}
{% if page.character_id %}{% include relations/characters.html %}{% endif %}
