---
layout: default
---
<h1><b>Scene:</b><br/>
  {{ page.label_eng }}<br>
  ({{ page.label_ja }} / {{ page.label_ka }})</h1>

<p>
  <b>Play: </b>
  {% assign pl_id = page.play_id %}
  {% assign play = site.data.plays | where: "id", pl_id | first %}
  <b><a href="{{ site.baseurl }}/plays/{{ pl_id }}">{{ play.label_eng }}</a></b>
  {% if play.label_ka %} ({{ play.label_ka}}){% endif %}
</p>
<p>
  <b>Production: </b>
  {% assign pr_id = page.prod_id %}
  {% assign production = site.data.productions | where: "id", pr_id | first %}
  <b><a href="{{ site.baseurl }}/productions/{{ pr_id }}">{{ production.label_eng }}</a></b>
</p>

{% if page.image_id %}
  {% include sliders/main.html %}
{% endif %}

<!--narrator, shamisen, musician, spuck-->

{% if page.narrator_id %}
  <br><br>
  <h2>Narrators (Tayu):</h2>
  {% for n in page.narrator_id %}
    {% assign narrator = site.data.performers | where: "id", n | first %}
    <p>
      <b>
        {% if narrator.image_id %}
          <i class="fa fa-file-image-o" aria-hidden="true" style="color:#5498a3"></i>
        {% else %}
          <i class="fa fa-times" aria-hidden="true" style="color:#9a9d9e"></i>
        {% endif %}
        <a href="{{ site.baseurl }}/performers/{{ n }}/">{{ narrator.name_en }}</a>
      </b>
      ({{ narrator.name_ka }})
    </p>
  {% endfor %}
{% endif %}

{% if page.shamisen_id %}
  <br/><br/>
  <h2>Shamisen Players:</h2>
  {% for s in page.shamisen_id %}
    {% assign shamisen = site.data.performers | where: "id", s | first %}
    <p>
      <b>
        {% if shamisen.image_id %}
          <i class="fa fa-file-image-o" aria-hidden="true" style="color:#5498a3"></i>
        {% else %}
          <i class="fa fa-times" aria-hidden="true" style="color:#9a9d9e"></i>
        {% endif %}
        <a href="{{ site.baseurl }}/performers/{{ s }}/">{{ shamisen.name_en }}</a>
      </b>
      {% if shamisen.name_ka %}({{ shamisen.name_ka }}){% endif %}
    </p>
  {% endfor %}
{% endif %}

{% if page.musician_id %}
  <br/><br/>
  <h2>Other Musicians (Koto/Kokyu):</h2>
  {% for m in page.musician_id %}
    {% assign musician = site.data.performers | where: "id", m | first %}
    <p>
      <b>
        {% if musician.image_id %}
          <i class="fa fa-file-image-o" aria-hidden="true" style="color:#5498a3"></i>
        {% else %}
          <i class="fa fa-times" aria-hidden="true" style="color:#9a9d9e"></i>
        {% endif %}
        <a href="{{ site.baseurl }}/performers/{{ m }}/">{{ musician.name_en }}</a>
      </b>
      ({{ musician.name_ka }})
    </p>
  {% endfor %}
{% endif %}

{% if page.spuck_id %}
  <br/><br/>
  <h2>Performers:</h2>
  <table class="spuck-table">
    <tr>
      <th>Puppeteer</th>
      <th>Character</th>
      <th>Kashira</th>
    <tr>
    {% for s in page.spuck_id %}
      {% assign spuck = site.data.spucks | where: "id", s | first %}
      {% assign puppeteer = site.data.performers | where: "id", spuck.puppeteer_id | first %}
      {% assign character = site.data.characters | where: "id", spuck.character_id | first %}
      {% assign kashira = site.data.kashira | where: "id", spuck.kashira_id | first %}
      <tr>
        <td>
          <b>
            {% if puppeteer.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
            {% else %}<i class="fa fa-times" aria-hidden="true"></i> {% endif %}
            <a href="{{ site.baseurl }}/performers/{{ spuck.puppeteer_id }}">{{ puppeteer.name_en }}</a>
          </b><br>
          ({{ puppeteer.name_ka }})
        </td>
        <td>
          <b>
            {% if character.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
            {% else %}<i class="fa fa-times" aria-hidden="true"></i> {% endif %}
            <a href="{{ site.baseurl }}/characters/{{ spuck.character_id }}">{{ character.label_eng }}</a>
          </b><br>
          ({{ character.label_ka }})
        </td>
        <td>
          <b>
            {% if kashira.image_id %}<i class="fa fa-file-image-o" aria-hidden="true"></i>
            {% else %}<i class="fa fa-times" aria-hidden="true"></i> {% endif %}
            <a href="{{ site.baseurl }}/kashira/{{ spuck.kashira_id }}">{{ kashira.label_eng }}</a>
          </b><br>
          ({{ kashira.label_ka }})
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
